[submodule "classification/network_based/TriDy"]
	path = classification/network_based/TriDy
	url = git@github.com:JasonPSmith/TriDy.git
[submodule "classification/network_based/TriDy-tools"]
	path = classification/network_based/TriDy-tools
	url = git@github.com:jlazovskis/TriDy-tools.git
