{
  "values": {
    "selection_parameters": ["reliability"],
    "feature_parameters": ["tribe_size", "deg", "in_deg", "out_deg", "rc", "rc_chief", "tcc", "fcc", "dc2", "dc3", "dc4", "dc5", "dc6", "nbc", "ec", "asg", "asg_low", "asg_radius", "tpsg", "tpsg_low", "tpsg_radius", "tpsg_reversed", "tpsg_reversed_low", "tpsg_reversed_radius", "clsg", "clsg_high", "clsg_radius", "blsg", "blsg_low", "blsg_radius", "blsg_reversed", "blsg_reversed_low", "blsg_reversed_radius"],
    "num_jobs": 10,
    "randomise_vectors": true,
    "check_featurevectors": false,
    "check_dataframes": false,
    "only_featurise": false
  },
  "paths": {
    "json_template": "./../configs_templates/template.json",
    "sbatch_template": "./../configs_templates/template.sbatch",
    "tridy_dir": "./../TriDy/",
    "bin_dir": "./bins/",
    "parameter_dir": "./parameters/",  
    "config_dir": "./configs/",  
    "sbatch_dir": "./sbatches/",  
    "runfile_dir": "./runfiles/",
    "results_dir": "./results/",
    "dataframe_dir": "./dataframes/"
  }
}
